{% extends "layout.html" %}

{% block title %} Nations {% endblock %}

{% block content %}
  <h3> Nations List </h3>
  <form action="{{ url_for('nation_page') }}" method="post">
    <table>
    	<tr>
    		<th>Del</th>
    		<th>ID</th>
    		<th>Title</th>
    	</tr>

    	{% for id, title in NationList %}
    	<tr>
    		<td><input type="checkbox" name="nations_to_delete" value="{{ id }}" /></td>
    		<td>{{ id }}</td>
    		<td>{{ title }}</td>
    	</tr>
    	{% endfor %}

    </table>
    <input type="submit" value="Delete Checked Values" name="delete" /> 
  </form>
  </br>
  <form action="{{ url_for('nation_page') }}" method="post"> 
    <table>
      <tr> 
        <th>Title:</th> 
        <td><input type="text" name="title" required autofocus /> </td>
      </tr> 
    </table>
    <input type="submit" value="Add Country" name="nations_to_add"/>
  </form>
  </br>
  <form action="{{ url_for('nation_page') }}" method="post"> 
    <table>
      <tr> 
        <th>Id:</th> 
        <td><input type="text" name="id" required autofocus /> </td>
      </tr> 
      <tr> 
        <th>New Title:</th> 
        <td><input type="text" name="title" required autofocus /> </td>
      </tr> 
    </table>
    <input type="submit" value="Update Country" name="nations_to_update"/>
  </form>  
{% endblock %}
