{% extends "layout.html" %}

{% block title %} {{ Nation.Title }} {% endblock %}

{% block content %}

<h1> Country: {{ Nation.Title }} </h1>
<div id = "NatInfo">
  <p> 
    <a>{{ Nation.Title }}</a> is a country with <a>{{ Nation.Area }}</a> km<sup>2</sup> area size in our World. 
    <a>{{ Nation.Title }}'s</a> capital is <a>{{ Nation.Capital }}</a>.
  </p>
  <p>
    Also, <a>{{ Nation.Title }}</a> has <a>{{ Nation.Population }}</a> humans inside.
    Finally, Top-Level domain of <a>{{ Nation.Title }}</a> is <a>{{ Nation.TLD }}</a> 
  </p>
</div>

<br>

<div id = "NatInfo">
	<h3>{{ Nation.Title }} has the highest audience in number at local races shown in table</h3>
	<table>
    	<tr>
	        <th>Track</th>
	        <th>Year</th>
	        <th>First</th>
	        <th>Second</th>
	        <th>Third</th>
	        <th>Most Audience Nation</th>
	        <th>Fastest Driver</th>
	        <th>Fastest Lap Time</th>
    	</tr>

    	{% for Track, Year, First, Second, Third, Nation, FastestDr, FastestLap in RaceList %}
    	<tr>
	        <td>{{Track}}</td>
	        <td>{{Year}}</td>
	        <td>{{First}}</td>
	        <td>{{Second}}</td>
	        <td>{{Third}}</td>
	        <td><a href="{{ url_for('a_nation_page', nat_title = Nation) }}"> {{Nation}}</a></td>
	        <td>{{FastestDr}}</td>
	        <td>{{FastestLap}}</td>
    	</tr>
    	{% endfor %}

    </table>

<br>
	<h3> Tracks of {{ Nation.Title }} are shown in table </h3>
    <table>
      <tr>
        <th>Track ID</th>
        <th>Track Name</th>
        <th>Country</th>
        <th>Length (km)</th>
      </tr>

      {% for ID, Track_Title, Nat_Title, Length in TrackInfoList %}
      <tr>
        <td>{{ ID }}</td>
        <td>{{ Track_Title }}</td>
        <td>{{ Nat_Title }}</td>
        <td>{{ Length }}</td>
      </tr>
      {% endfor %}

    </table>


</div>
{% endblock %}
