{% extends "layout.html" %}

{% block title %} Champions of Years {% endblock %}

{% block content %}
  <h3> Champions of Years </h3>

  <form action="{{ url_for('champinfo_page') }}" method="post"> 
    <table>
      <tr> 
        <th>New Year:</th> 
        <td><input type="text" name="nyear" required autofocus /> </td>
        <th>Champion:</th> 
        <td> <select name="ndriv">
          {% for driver in drivers %}
            <option value="{{ driver }}">{{ driver }}</option>
          {% endfor %}
          </select> </td>
        <th>Team:</th> 
        <td> <select name="nteam">
          {% for team in teams %}
            <option value="{{ team }}">{{ team }}</option>
          {% endfor %}
          </select> </td>
      </tr> 
    </table>
    <input type="submit" value="Add Champion Info" name="champinfos_to_add"/>
  </form>
  </br>

  <form action="{{ url_for('champinfo_page') }}" method="post"> 
    <table>
      <tr> 
        <th>Old Year:</th> 
        <td><input type="text" name="oyear" required autofocus /> </td>
        <th>New Year:</th> 
        <td><input type="text" name="nyear" required autofocus /> </td>
        <th>New Champion:</th> 
        <td> <select name="ndriv">
          {% for driver in drivers %}
            <option value="{{ driver }}">{{ driver }}</option>
          {% endfor %}
          </select> </td>
        <th>New Team:</th> 
        <td> <select name="nteam">
          {% for team in teams %}
            <option value="{{ team }}">{{ team }}</option>
          {% endfor %}
          </select> </td>
      </tr> 
    </table>
    <input type="submit" value="Update Champ Info" name="champinfos_to_update"/>
  </form>  

  </br>
  <form action="{{ url_for('champinfo_page') }}" method="post"> 
    <table>
      <tr>  
        <td><input type="text" name="name" required autofocus /> </td>
      </tr> 
    </table>
    <input type="submit" value="Search Champion (Name or Team)" name="champinfos_to_search"/>
  </form>
  </br>


  </br>
  <form action="{{ url_for('champinfo_page') }}" method="post">
    <table>
    	<tr>
        <th>Delete</th>
        
        <th>Year</th>
        <th>Driver</th>
        <th>Team</th>
    	</tr>

    	{% for id, title, drivtitle, teamtitle in ChampinfoList %}
    	<tr>
    		<td><input type="checkbox" name="champinfos_to_delete" value="{{ id }}" /></td>
    		
    		<td>{{ title }}</td>
            <td>{{ drivtitle }}</td>
            <td>{{ teamtitle }}</td>
    	</tr>
    	{% endfor %}

    </table>
    <input type="submit" value="Delete Checked Values" name="delete" /> 
  </form>
  </br>

  

  
{% endblock %}
