{% extends "layout.html" %}

{% block title %} Champions of Years {% endblock %}

{% block content %}
  <h3> Champions of Years </h3>
  <form action="{{ url_for('champinfo_page') }}" method="post">
    <table>
    	<tr>
        <th>Delete</th>
        
        <th>Year Name</th>
        <th>Driver</th>
        <th>Team</th>
    	</tr>

    	{% for id, title, drivtitle, teamtitle in ChampinfoList %}
    	<tr>
    		<td><input type="checkbox" name="champinfos_to_delete" value="{{ id }}" /></td>
    		
    		<td>{{ title }}</td>
            <td>{{ drivtitle }}</td>
            <td>{{ teamtitle }}</td>
    	</tr>
    	{% endfor %}

    </table>
    <input type="submit" value="Delete Checked Values" name="delete" /> 
  </form>
  </br>

  <form action="{{ url_for('champinfo_page') }}" method="post"> 
    <table>
      <tr> 
        <th>Year:</th> 
        <td><input type="text" name="nyear" required autofocus /> </td>
        <th>Driver:</th> 
        <td><input type="text" name="ndriv" required autofocus /> </td>
        <th>Team:</th> 
        <td><input type="text" name="nteam" required autofocus /> </td>
      </tr> 
    </table>
    <input type="submit" value="Add Champion Info" name="champinfos_to_add"/>
  </form>
  </br>

  <form action="{{ url_for('champinfo_page') }}" method="post"> 
    <table>
      <tr> 
        <th>Old Year:</th> 
        <td><input type="text" name="oyear" required autofocus /> </td>
        <th>New Year:</th> 
        <td><input type="text" name="nyear" required autofocus /> </td>
        <th>New Driver:</th> 
        <td><input type="text" name="ndriv" required autofocus /> </td>
        <th>New Team:</th> 
        <td><input type="text" name="nteam" required autofocus /> </td>
      </tr> 
    </table>
    <input type="submit" value="Update Champ Info" name="champinfos_to_update"/>
  </form>  
{% endblock %}
