
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>RallyDB - {% block title %}{% endblock %}</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    
    <header>
      <div id = "htext"> ITU DBMS - Group 26 Project </div>

      <nav>
        <div id="home">
          <a href="{{ url_for('home_page') }}"><img src="../static/images/homepage.png" alt="Home Page"></a>
        </div>
        <div id = "window">
          <span>Alper Akyıldız</span>
          <ul>
            <li><a href="{{ url_for('track_page') }}">Tracks</a></li>
            <li><a href="{{ url_for('tire_page') }}">Tires</a></li>
            <li><a href="{{ url_for('track_info_page') }}">Track Informations</a></li>
          </ul>
        </div>
        <div id = "window">
          <span>Bilal Enes Fedar</span>
          <ul>
            <li><a href="{{ url_for('nation_page') }}">Nations</a></li>
            <li><a href="{{ url_for('year_page') }}">Years</a></li>
            <li><a href="{{ url_for('raceinfo_page') }}">Local Races</a></li>
          </ul>
        </div>
        <div id = "window">
          <span>Mustafa Gökçeoğlu</span>
            <li><a href="{{ url_for('team_page') }}">Teams</a></li>
            <li><a href="{{ url_for('engine_page') }}">Engines</a></li>
	    <li><a href="{{ url_for('champinfo_page') }}">Champions of Years</a></li>
        </div>
        <div id = "window">
          <span>Hanifi Demirel</span>
            <li><a href="{{ url_for('driver_page') }}">Drivers</a></li>
        </div>
        <div id="initdb">
          <a href="{{ url_for('init_db') }}"><img src="../static/images/initdb.png" alt="Initialize Database"></a>
        </div>
      </nav>
    </header>

        {% block content %}{% endblock %}

    <footer>
      <div id="datetime">{{ current_time }}</div> 
    </footer>

  </body>
</html>