{% extends "layout.html" %}

{% block title %} Local Races {% endblock %}

{% block content %}
  <div class="dbops">
    <form id="fAdd" action="{{ url_for('raceinfo_page') }}" method="post"> 
      <table>
        <tr> 
          <th><u>Track#</u></th>
          <th><u>Year#</u></th>
          <th>First#</th>
          <th>Second#</th>
          <th>Third#</th>
          <th>Nation#</th>
          <th>Fastest Driver#</th>
          <th>Fastest Lap Time</th>
        </tr> 
        <tr>
          <td>
            <select name = "Track">
            {% for Track in TrackList %}
            <option value="{{ Track }}">{{ Track }}</option>
            {% endfor %}
            </select>
          </td>
          <td>
            <select name = "Year">
            {% for Year in YearList %}
            <option value="{{ Year }}">{{ Year }}</option>
            {% endfor %}
            </select>
          </td>
          <td>
            <select name = "First">
            {% for First in DriverList %}
            <option value="{{ First }}">{{ First }}</option>
            {% endfor %}
            </select>
          </td>
          <td>
            <select name = "Second">
            {% for Second in DriverList %}
            <option value="{{ Second }}">{{ Second }}</option>
            {% endfor %}
            </select>
          </td>
          <td>
            <select name = "Third">
            {% for Third in DriverList %}
            <option value="{{ Third }}">{{ Third }}</option>
            {% endfor %}
            </select>
          </td>
          <td>
            <select name = "Nation">
            {% for Nation in NationList %}
            <option value="{{ Nation }}">{{ Nation }}</option>
            {% endfor %}
            </select>
          </td>
          <td>
            <select name = "FastestDr">
            {% for FastestDr in DriverList %}
            <option value="{{ FastestDr }}">{{ FastestDr }}</option>
            {% endfor %}
            </select>
          </td>
          <td><input type="text" name="FastestLap" required autofocus /> </td>
        </tr>
      </table>
      <input type="submit" value="Add" name="raceinfos_to_add"/>
    </form>
  </div>

  <div class="dbops">
    <form id="fUpdate" action="{{ url_for('raceinfo_page') }}" method="post"> 
      <table>
        <tr> 
          <th><u>Track#</u></th>
          <th><u>Year#</u></th>
          <th>First#</th>
          <th>Second#</th>
          <th>Third#</th>
          <th>Nation#</th>
          <th>Fastest Driver#</th>
          <th>Fastest Lap Time</th>
        </tr> 
        <tr>
          <td>
            <select name = "Track">
            {% for Track in TrackList %}
            <option value="{{ Track }}">{{ Track }}</option>
            {% endfor %}
            </select>
          </td>
          <td>
            <select name = "Year">
            {% for Year in YearList %}
            <option value="{{ Year }}">{{ Year }}</option>
            {% endfor %}
            </select>
          </td>
          <td>
            <select name = "First">
            {% for First in DriverList %}
            <option value="{{ First }}">{{ First }}</option>
            {% endfor %}
            </select>
          </td>
          <td>
            <select name = "Second">
            {% for Second in DriverList %}
            <option value="{{ Second }}">{{ Second }}</option>
            {% endfor %}
            </select>
          </td>
          <td>
            <select name = "Third">
            {% for Third in DriverList %}
            <option value="{{ Third }}">{{ Third }}</option>
            {% endfor %}
            </select>
          </td>
          <td>
            <select name = "Nation">
            {% for Nation in NationList %}
            <option value="{{ Nation }}">{{ Nation }}</option>
            {% endfor %}
            </select>
          </td>
          <td>
            <select name = "FastestDr">
            {% for FastestDr in DriverList %}
            <option value="{{ FastestDr }}">{{ FastestDr }}</option>
            {% endfor %}
            </select>
          </td>
          <td><input type="text" name="FastestLap" required autofocus /> </td>
        </tr>
      </table>
      <input type="submit" value="Update" name="raceinfos_to_update"/>
    </form>  
  </div>

</br>
</br>
  <form action="{{ url_for('raceinfo_page') }}" method="post">
    <table>
      <tr>
        <th> Search Track </th>
        <td><input type="text" name="SearchTrack" required autofocus /></td> 
      </tr>
    </table>
    <input type="submit" value="Search" name="raceinfos_to_searchtrack"/>
  </form>
  <form action="{{ url_for('raceinfo_page') }}" method="post">
    <table>
      <tr>
        <th> Search Winner </th>
        <td><input type="text" name="SearchWinner" required autofocus /></td> 
      </tr>
    </table>
    <input type="submit" value="Search" name="raceinfos_to_searchwinner"/>
  </form> 

  <h3> Local Races </h3>
  <form action="{{ url_for('raceinfo_page') }}" method="post">
    <table>
    	<tr>
    		<th>Del</th>
        <th>Track</th>
        <th>Year</th>
        <th>First</th>
        <th>Second</th>
        <th>Third</th>
        <th>Most Audience Nation</th>
        <th>Fastest Driver</th>
        <th>Fastest Lap Time</th>
    	</tr>

    	{% for Track, Year, First, Second, Third, Nation, FastestDr, FastestLap in RaceList %}
    	<tr>
    		<td><input type="checkbox" name="raceinfos_to_delete" value="{{ Track }}:{{ Year }}" /></td>
        <td>{{Track}}</td>
        <td>{{Year}}</td>
        <td>{{First}}</td>
        <td>{{Second}}</td>
        <td>{{Third}}</td>
        <td>{{Nation}}</td>
        <td>{{FastestDr}}</td>
        <td>{{FastestLap}}</td>
    	</tr>
    	{% endfor %}

    </table>
    <input id="fDelete" type="submit" value="Delete Checked Values" name="delete" /> 
  </form>
{% endblock %}
