{% extends "layout.html" %}

{% block title %} Tires {% endblock %}

{% block content %}
  <div id="personalPages">
  <h3> Tires List </h3>
  <form action="{{ url_for('tire_page') }}" method="post">
    <table>
    	<tr>
    		<th>Delete</th>
    		<th>Tire ID</th>
    		<th>Tire Name</th>
    	</tr>

    	{% for id, title in TireList %}
    	<tr>
    		<td><input type="checkbox" name="tires_to_delete" value="{{ id }}" /></td>
    		<td>{{ id }}</td>
    		<td>{{ title }}</td>
    	</tr>
    	{% endfor %}

    </table>
    <input type="submit" value="Delete Checked Values" name="delete" /> 
  </form>
  </br>
  <form action="{{ url_for('tire_page') }}" method="post"> 
    <table>
      <tr> 
        <th>Title:</th> 
        <td><input type="text" name="title" required autofocus /> </td>
      </tr> 
    </table>
    <input type="submit" value="Add Tire" name="tires_to_add"/>
  </form>
  </br>
  <form action="{{ url_for('tire_page') }}" method="post"> 
    <table>
      <tr> 
        <th>Id:</th> 
        <td><input type="text" name="id" required autofocus /> </td>
      </tr> 
      <tr> 
        <th>New Title:</th> 
        <td><input type="text" name="title" required autofocus /> </td>
      </tr> 
    </table>
    <input type="submit" value="Update Tire" name="tires_to_update"/>
  </form>
  </div>
{% endblock %}
