{% extends "layout.html" %}

{% block title %} Champions Winrate {% endblock %}

{% block content %}
  <h3> Champions Winrate </h3>

  </br>
  <form action="{{ url_for('winrate_page') }}" method="post">
    <table>
    	<tr>
        <th>Id</th>
        <th>Driver</th>
        <th>Number of Attanded Races</th>
        <th>Number of First Place</th>
        <th>Winning Rate(%)</th>
    	</tr>

    	{% for id, title, topyaris, firstyaris, yuzde in WinrateList %}
    	<tr>
    		
    		<td>{{ id }}</td>
    		<td>{{ title }}</td>
            <td>{{ topyaris }}</td>
            <td>{{ firstyaris }}</td>
            <td>{{ yuzde }}</td>
    	</tr>
    	{% endfor %}

    </table>
    
  </form>
  </br>

  

  
{% endblock %}
